apiVersion: v1
kind: Secret
metadata:
  name: mysql-db-password
type: Opaque
data:  # Base64 encode the username
  db-password: {{ .Values.mysql.credentials.password | b64enc | quote }}  # Base64 encode the password
